body {
    background-color: #524e4e;
}

form {
    background-color: #fff;
    padding: 15px;
    width: 320px;
}

input {
    width: 95%;
    border-color: #ccc;
    margin-top: 2px;
    margin-bottom: 2px;
    padding:  6px;
    border-style: solid;
    
}

button {
    width: 100%;
    background-color: #1cbc11;
    border-style: none;
    border-color: #1cbc11;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px;
    color: white;
    
}

button:hover {
    background-color:  #14a20a;
}
